@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #090c0d !important;
  color: white;
  font-family: 'Newsreader';
}

.center {
	align-items: center !important;
	justify-content: center;
}

summary {
  font-style: italic;
}
Link {
  color: white;
  text-decoration-style: underline;
  cursor: pointer !important;
}

Link:hover {
	cursor: pointer !important;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

u:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

blockquote{
  font-size: inheret;
  width:60%;
	height: 30px;
  margin: 20px auto;
  color: #ffffff;
  padding: 0em 0.1em 0.2em 0.5em;
  border-left: 3px solid #ffffff ;
  line-height: 1.6;
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}